.pokemonButton{
    border: 2px solid black;
    border-radius: 6px;
    height: 32px;

    &:hover{
        cursor:pointer;
        border:1px solid white;
        background-color: green !important;
    }
}